@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: #FED245;   
}

h1 {
  text-align: center;
  background-image: url(../images/spider.svg), url(../images/spider.svg);
  padding: 0 2rem;
  background-size: .3em auto;
  background-repeat: no-repeat;
  background-position: 0 100%, 100% 100%;
  display: inline-block;
  font-family: 'Creepster', sans-serif;
  font-size: 3rem;
}

.header {
  text-align: center;
}

.spider1 {
  max-height: 7rem;
  margin-top: -2rem; 
  display: inline-block;
  float: left;
}

.info {
  text-align: center;
  list-style-type: none;
  padding: 0;
  margin-top: -1rem;
  font-family: 'Cutive Mono' sans-serif;
  text-transform: lowercase;
  font-size: .8rem;
}

.email {
  text-transform: lowercase;
  
}

.socialmedia {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin-top: -1.3rem;
  margin-bottom: 0;
}

.instagram {
  height: 1em;
  width: 1em;
  background-image: url(../images/instagram.svg);
  background-repeat: no-repeat;
}

.behance {
  height: 1em;
  width: 1em;
  background-image: url(../images/behance.svg);
  background-repeat: no-repeat;
}

.tumblr {
  height: 1em;
  width: 1em;
  background-image: url(../images/tumblr.svg);
  background-repeat: no-repeat;
}

.linkedin {
  height: 1em;
  width: 1em;
  background-image: url(../images/linkedin.svg);
  background-repeat: no-repeat;
}

.icon {
  display: inline-block;
  width: 1rem;
}

.nav {
  margin: 0 3rem 0 3rem;
  padding: 0;
  list-style-type: none;
  display: none;
  position: relative;
}

.nav li {
}

.nav a {
  display: block;
  padding: .3em .8em;
  background-color: #000;
  text-align: center;
  border-bottom: 1px solid #FED245;
  text-decoration: none;
  font-family: 'Cutive Mono', sans-serif;
  text-transform: uppercase;
  font-size: .85rem;
  color: #FED245;
}

.nav-check {
  position: absolute;
  top: -3em;
}

.nav-check:checked ~ .nav {
  display: block;
}

.nav-label {
  cursor: pointer;
  width: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.nav-open,
.nav-close {
  display: block;
  width: 100%;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
  display: block;
}

#galleryphotos {
  margin: 0;
  padding: 0;
}

.bodyimages {
  z-index: 0;
  position: relative;
  top: 3em;
}

.images {
  display: block;
  margin: auto;
  margin: auto;
  margin-bottom: 1.5rem;
  position: relative;
  max-width: 15rem;
}

@media only screen and (min-width: 25em) {

}

@media only screen and (min-width: 38em) {

}

@media only screen and (min-width: 60em) {
}